@import url('https://fonts.googleapis.com/css?family=Elsie&amp;display=swap');
*{
	margin: 0;
	padding:0;
}


.wall
{
	
	width:100%;
	background-color: #001A26;	
}
.title 
{
	font-family: 'Elsie', cursive;
	float:left ;
	color: #FFFFFF;
}
.phone-num
{
	padding:21px;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	color:#FFFFFF;
}

.phone-num a, .footer a
{

	text-decoration:none;
	color:#FFFFFF;

}
.footer a
{
	color: white;
}
.image-service

{
	-border:1px solid black;
}


.image-service img
{
	margin-top:5%;
	margin-bottom:5%;
	display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.map
{
	
	margin-top:10%;
	margin-bottom:5%;
	display: block;
    margin-left: auto;
    margin-right: auto;	
}
.content
{
	font-size:12px;
	text-align:justify;
	width:80%;
	margin-left:10%;
	font-weight:bold;
	color: #FFFFFF;
}
.container1{
	position: relative;
	text-align: center;
	color: white;

}
.text-block{
	position: relative;
	bottom: 50px;
	left: 80px;
	background-color: white;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}
.text-block1{
	position: absolute;
	bottom: 50px;
	right: 80px;
	background-color: black;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
}

.footer
{
	background-color:#011A27;
	color:white;
	padding:2%;
	font-weight:bold;
}


@media screen and (max-width: 480px)
{
	.content
	{
		font-size:14px;
	}
    .footer-content
    {
    	margin-bottom:2%;        
    }
    .title 
    {
    	font-size:16px; 
    }

    


}